<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/get_article.css">
    <title>Node App</title>
</head>

<body>
    <header id="main-header" class="header-container">
        <nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand">
                    <span class="brand-b">Article</span> Store
                </a>
                <button type="button" id="btn-menu" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-hidden="false">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav ml-lg-5">
                        <li class="nav-item">
                            <a href="/home" class="nav-link">
                                <span class="sr-only">(current)</span> Home
                            </a>
                        </li>
                        <% if (user) {%>
                            <li class="nav-item">
                                <a href="/article/add" class="nav-link">
                                    Add article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="article" class="nav-link active active-nav">Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">
                                    About
                                </a>
                            </li>
                            <%}%>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <% if (user) {%>
                            <li class="nav-item">
                                <a href="/user/logout" class="nav-link">
                                    Logout
                                </a>
                            </li>
                            <%} else {%>
                                <li class="nav-item">
                                    <a href="/user/signup" class="nav-link">
                                        Signup
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/user/login" class="nav-link">
                                        Login
                                    </a>
                                </li>
                            <%}%>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="section-jumbotron" class="jumbotron jumbotron-2 text-left bg-dark text-light">
            <div class="container m-3">
                <h1 class="display-5 text-light text-capitalize">
                    <%= message %>
                </h1>
                <div class="text-light"> <strong>Author : </strong>
                    <%= user.name %>
                </div>
                <hr>
                <div id="articles" class="container">
                    <ul class="list-group bg-dark">
                        <li class="list-group-item text-light bg-dark">
                            <strong class="">
                                    Title:
                                </strong>
                            <span class="">
                                    <%= article.title %>
                                </span>
                        </li>
                        <li class="list-group-item text-light bg-dark">
                            <strong class="">
                                    Author:
                                </strong>
                            <span class="">
                                    <%= user.name %>
                                </span>
                        </li>
                        <li class="list-group-item text-light bg-dark">
                            <strong class="">
                                    Article:
                                </strong>
                            <span class="">
                                    <%= article.message %>
                                </span>
                        </li>
                        <li class="list-group-item text-light bg-dark">
                            <strong class="">
                                Id:
                            </strong>
                            <span class="">
                                <%= article._id %>
                            </span>
                        </li>
                        <li class="list-group-item bg-dark text-md-right btn-li">
                            <a href="/article/edit/<%= article._id %>" class="btn btn-small btn-edit btn-primary text-uppercase mt-1">Edit Article</a>
                            <a articleId="<%= article._id %>" class="btn btn-small btn-danger btn-delete text-uppercase mt-1">Delete Article</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </header>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>